* {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #ffffff;
    line-height: 1.6;
}

header {
    background-color: #4169E1;
    padding: 20px;
    text-align: center;
    background-image: url('/lab6/video/stockholm-christmas.gif');
    background-size: cover; 
    background-position: top 37% center; 
    color: white;
    position: relative;
}

header h1 {
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 2px;
    position: relative;
    z-index: 1;
}



nav {
    padding: 15px;
    text-align: center;
    background: linear-gradient(45deg, #333333, #4169E1);
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    margin: 0 10px;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 10px;
}

nav a:hover {
    background-color: #f1da42;
    color: #333;
}

nav a:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}


nav a[href="index.html"]:before {
    content: "\f015"; 
}

nav a[href="local.html"]:before {
    content: "\f3c5"; 
}

nav a[href="multimedia.html"]:before {
    content: "\f03d"; 
}

nav a[href="info.html"]:before {
    content: "\f129"; 
}

nav a[href="quizz.html"]:before {
    content: "\f12d"; 
}

nav a[href="viagem.html"]:before {
    content: "\f072"; 
}

nav a[href="pontosinteresse.html"]:before {
    content: "\f041"; 
}

nav a[href="capitais.html"]:before {
    content: "\f024"; 
}

nav a:hover:before {
    content: "\f064";
}

main {
    padding: 20px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

main h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

main p {
    font-size: 18px;
    color: #666;
    margin: 20px 0;
}

a {
    color: #4169E1;
    text-decoration: none;
}


img {
    height: auto;
    max-width: 100%;
}

.fotos5 {
    border-radius: 10px;
    padding: 3px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.fotos5:hover {
    transform: scale(1.05);
}

.fotoBanner {
    border-radius: 20px;
    width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    border-top: 5px solid #4169E1;
}

footer p {
    font-size: 14px;
    letter-spacing: 1px;
}

table {
    margin: auto;
}

#curiosidades ul {
    padding-left: 20%;
    text-align: left;
}



#pInteresse, #restaurantes, #monumentos, #locaisNaoPerder, #melhorLocalFoto, #melhorAlturaVisitar, #curiosidades, 
#informacoes, #fotografiasEst , #video , #poema ,#multimedia , #localizacaoEst  {
    background-color: #c0defa;
    border-radius: 10px;
    width: 945px; 
    margin: auto;
    padding: 10px; 
    margin-top: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#pInteresse a:hover{
    color: #ac9500; 
}

#multimedia a:hover {
    color: #ac9500; 
}


@media (max-width: 1024px) {
    #pInteresse, #restaurantes, #monumentos, #locaisNaoPerder, #melhorLocalFoto, #melhorAlturaVisitar, #curiosidades, 
    #informacoes, #fotografiasEst , #video , #poema ,#multimedia , #localizacaoEst{
        width: 80%;
    }
}

@media (max-width: 768px) {
    #pInteresse, #restaurantes, #monumentos, #locaisNaoPerder, #melhorLocalFoto, #melhorAlturaVisitar, #curiosidades, 
    #informacoes, #fotografiasEst , #video , #poema ,#multimedia , #localizacaoEst {
        width: 95%; 
    }
}

@media (max-width: 480px) {
    #pInteresse, #restaurantes, #monumentos, #locaisNaoPerder, #melhorLocalFoto, #melhorAlturaVisitar, #curiosidades, 
    #informacoes, #fotografiasEst , #video , #poema ,#multimedia , #localizacaoEst {
        width: 100%; 
        padding: 5px; 
    }
}

#locaisNaoPerder li, #monumentos li, #restaurantes li {
    list-style-type: upper-roman;
    list-style-position: inside;
}


.fotoMelhorLocal {
    border-radius: 10px;
}

#climaTable,#infoTable {
    border-collapse: collapse; 
}

#climaTable th,#infoTable th {
    background-color: #5b9bd5; 
    color: white;
    text-align: left;
    padding: 12px;
}


#climaTable tr:nth-child(even)  {
    background-color: #f3f4f7; 
}

#climaTable tr:nth-child(odd)  {
    background-color: #ffffff; 
}

#climaTable td,#infoTable td {
    padding: 5px;
}

#infoTable{
    background-color: #ffffff;
}

@media (max-width: 1024px) {
    #climaTable,#infoTable {
        width: 80%;
    }
}

@media (max-width: 768px) {
    #climaTable,#infoTable {
        width: 95%; 
    }
}

@media (max-width: 480px) {
    #climaTable,#infoTable {
        width: 100%; 
        padding: 5px; 
    }
}


@keyframes slideDown {
    from {
        transform: translateY(-30px); 
        opacity: 0; 
    }
    to {
        transform: translateY(0); 
        opacity: 1; 
    }
}

.divViagemQuiz {
    padding-bottom: 20px;
}

fieldset {
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid #4169E1;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


input[type="submit"], input[type="reset"] {
    background-color: #4169E1;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
}

#questoesEst,#infoPessoal,#commentFinal, #infoViagem,#outraInfo{
    font-weight: bold;
}






